In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

# Question 5: Sales ROI: What is the average profit expectation from upgrades and sales after mortgage payments? (10 points)

In [2]:
# Load the CSV files into variables
file_paths = {
    "growth": "./Metro_zhvf_growth_uc_sfrcondo_tier_0.33_0.67_month.csv",
    "value": "./Metro_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_month.csv",
    "median_price": "./Metro_median_sale_price_uc_sfrcondo_month.csv",
    "list_price": "./Metro_mlp_uc_sfrcondo_month.csv",
    "sold_above_list": "./Metro_pct_sold_above_list_uc_sfrcondo_month.csv",
    "sold_below_list": "./Metro_pct_sold_below_list_uc_sfrcondo_month.csv"
}

# Loaded CSV variables into pandas DataFrames
dataframes = {name: pd.read_csv(path) for name, path in file_paths.items()}

# Display only the first 5 rows of each DataFrame using head()
dataframes_heads = {name: df.head() for name, df in dataframes.items()}

# Output the first 5 rows for each dataset
for name, head in dataframes_heads.items():
    print(f"First 5 rows of {name} dataset:")
    print(head)
    print("\n")

First 5 rows of growth dataset:
   RegionID  SizeRank       RegionName RegionType StateName    BaseDate  \
0    394913         1     New York, NY        msa        NY  10/31/2024
1    753899         2  Los Angeles, CA        msa        CA  10/31/2024
2    394463         3      Chicago, IL        msa        IL  10/31/2024
3    394514         4       Dallas, TX        msa        TX  10/31/2024
4    394692         5      Houston, TX        msa        TX  10/31/2024

   11/30/2024  1/31/2025  10/31/2025
0        -0.5       -0.8         1.1
1        -0.7       -0.8         2.2
2        -1.0       -2.2         0.7
3        -1.1       -2.1         1.3
4        -0.9       -1.7         0.8


First 5 rows of value dataset:
   RegionID  SizeRank       RegionName RegionType StateName    1/31/2023  \
0    394913         1     New York, NY        msa        NY  618315.3511
1    753899         2  Los Angeles, CA        msa        CA  903986.6773
2    394463         3      Chicago, IL        msa        IL  304945.1226
3    394514         4       Dallas, TX        msa        TX  372484.0732
4    394692         5      Houston, TX        msa        TX  307389.9912

     2/28/2023    3/31/2023    4/30/2023    5/31/2023  ...    1/31/2024  \
0  617846.0641  618981.3400  621750.6512  626320.7805  ...  653024.1679
1  892731.2695  882677.7305  880399.7757  884651.7303  ...  961240.2782
2  305039.9586  305928.1024  307807.3543  310078.1220  ...  323407.9208
3  370230.9292  368702.7284  368168.7980  368468.2531  ...  371215.1842
4  305680.3944  304498.9292  304023.1966  304154.0559  ...  306485.8948

     2/29/2024    3/31/2024    4/30/2024    5/31/2024    6/30/2024  \
0  657325.7101  662976.4639  669457.8623  674379.0106  677580.6350
1  958067.1288  956942.0834  960982.2869  967579.9830  972048.4525
2  325014.6213  327666.8114  330756.6799  333074.2018  334422.5825
3  371698.2249  372852.4396  373826.2436  373978.3416  373322.9493
4  306879.9446  307878.5343  308913.0231  309454.1050  309335.4784

     7/31/2024    8/31/2024    9/30/2024   10/31/2024
0  680209.7431  683834.5024  687956.1814  691747.7753
1  976772.5555  982347.1953  989199.4850  994897.4807
2  335234.2821  336199.5612  337340.5326  338506.1144
3  372396.9231  371759.1731  371580.0129  371494.2966
4  308972.5028  308770.1887  308740.9310  308583.1227

[5 rows x 27 columns]


First 5 rows of median_price dataset:
   RegionID  SizeRank       RegionName RegionType StateName  1/31/2023  \
0    394913         1     New York, NY        msa        NY   525000.0
1    753899         2  Los Angeles, CA        msa        CA   805000.0
2    394463         3      Chicago, IL        msa        IL   252500.0
3    394514         4       Dallas, TX        msa        TX   350000.0
4    394692         5      Houston, TX        msa        TX   294500.0

   2/28/2023  3/31/2023  4/30/2023  5/31/2023  ...  12/31/2023  1/31/2024  \
0   510000.0   515000.0   530000.0   550000.0  ...    575000.0   570000.0
1   824000.0   840000.0   850000.0   860000.0  ...    870000.0   865000.0
2   259900.0   280000.0   289000.0   300000.0  ...    280000.0   279900.0
3   367500.0   370000.0   381000.0   391000.0  ...    368000.0   368000.0
4   300000.0   310000.0   319900.0   325000.0  ...    310000.0   306000.0

   2/29/2024  3/31/2024  4/30/2024  5/31/2024  6/30/2024  7/31/2024  \
0   565000.0   575000.0   585000.0   615000.0   640000.0   650000.0
1   915000.0   916500.0   950000.0   970000.0   960000.0   950500.0
2   285000.0   300000.0   315000.0   325000.0   337275.0   330000.0
3   380000.0   390000.0   400000.0   405000.0   400000.0   395000.0
4   325000.0   322000.0   340000.0   344500.0   348000.0   346000.0

   8/31/2024  9/30/2024
0   640000.0     629000
1   935000.0     915000
2   320000.0     320000
3   390000.0     381925
4   327500.0     330000

[5 rows x 26 columns]


First 5 rows of list_price dataset:
   RegionID  SizeRank       RegionName RegionType StateName  1/31/2023  \
0    394913         1     New York, NY        msa        NY   620000.0
1    753899         2  Los Angeles, CA        msa        CA   879900.0
2    394463         3      Chicago, IL        msa        IL   299000.0
3    394514         4       Dallas, TX        msa        TX   395000.0
4    394692         5      Houston, TX        msa        TX   340000.0

   2/28/2023  3/31/2023  4/30/2023  5/31/2023  ...  1/31/2024  2/29/2024  \
0   635000.0   649900.0   659000.0   679000.0  ...   685000.0   699000.0
1   899000.0   900000.0   949000.0   979000.0  ...   988000.0   999000.0
2   308500.0   319000.0   329900.0   339600.0  ...   320000.0   330000.0
3   396000.0   409450.0   429990.0   440000.0  ...   410000.0   415000.0
4   344900.0   349900.0   359900.0   365000.0  ...   349950.0   350000.0

   3/31/2024  4/30/2024  5/31/2024  6/30/2024  7/31/2024  8/31/2024  \
0   699000.0   700000.0   719999.0   719000.0     709000     699990
1   999900.0  1049000.0  1089000.0  1099000.0    1098000    1074950
2   339900.0   350000.0   359900.0   359900.0     355000     349900
3   424900.0   434000.0   439900.0   440000.0     435000     429000
4   359000.0   365000.0   367000.0   365000.0     365999     365000

   9/30/2024  10/31/2024
0   719900.0    725000.0
1  1060000.0   1050000.0
2   350000.0    340000.0
3   428595.0    425000.0
4   359900.0    355000.0

[5 rows x 27 columns]


First 5 rows of sold_above_list dataset:
   RegionID  SizeRank       RegionName RegionType StateName  1/31/2023  \
0    394913         1     New York, NY        msa        NY   0.327479
1    753899         2  Los Angeles, CA        msa        CA   0.280366
2    394463         3      Chicago, IL        msa        IL   0.241674
3    394514         4       Dallas, TX        msa        TX   0.161996
4    394692         5      Houston, TX        msa        TX   0.139241

   2/28/2023  3/31/2023  4/30/2023  5/31/2023  ...  12/31/2023  1/31/2024  \
0   0.312961   0.367213   0.423158   0.479094  ...    0.480851   0.452060
1   0.347768   0.417316   0.482822   0.540702  ...    0.444583   0.408447
2   0.280124   0.364853   0.444157   0.494499  ...    0.319303   0.309066
3   0.208512   0.280480   0.347257   0.370026  ...    0.183078   0.169018
4   0.161839   0.198428   0.240149   0.255989  ...    0.135917   0.134080

   2/29/2024  3/31/2024  4/30/2024  5/31/2024  6/30/2024  7/31/2024  \
0   0.420618   0.465709   0.512777   0.538471   0.570397   0.568375
1   0.490480   0.526893   0.556147   0.567146   0.551837   0.522704
2   0.348550   0.413398   0.484101   0.504600   0.519821   0.493155
3   0.216833   0.249356   0.271137   0.272218   0.236289   0.209712
4   0.144228   0.171267   0.195162   0.203461   0.192015   0.177500

   8/31/2024  9/30/2024
0   0.549957   0.514486
1   0.480925   0.458359
2   0.437228   0.381601
3   0.177149   0.172804
4   0.154000   0.146911

[5 rows x 26 columns]


First 5 rows of sold_below_list dataset:
   RegionID  SizeRank       RegionName RegionType StateName  1/31/2023  \
0    394913         1     New York, NY        msa        NY   0.548938
1    753899         2  Los Angeles, CA        msa        CA   0.600236
2    394463         3      Chicago, IL        msa        IL   0.635639
3    394514         4       Dallas, TX        msa        TX   0.643979
4    394692         5      Houston, TX        msa        TX   0.672739

   2/28/2023  3/31/2023  4/30/2023  5/31/2023  ...  12/31/2023  1/31/2024  \
0   0.564804   0.513747   0.458474   0.410781  ...    0.406383   0.428314
1   0.531676   0.453838   0.391002   0.342643  ...    0.426111   0.460034
2   0.586509   0.492967   0.429829   0.364481  ...    0.532863   0.543956
3   0.596878   0.507599   0.446549   0.432150  ...    0.613289   0.623790
4   0.644563   0.605465   0.543680   0.538851  ...    0.676135   0.691283

   2/29/2024  3/31/2024  4/30/2024  5/31/2024  6/30/2024  7/31/2024  \
0   0.463802   0.419320   0.375195   0.357391   0.323827   0.331516
1   0.383346   0.348691   0.325138   0.316547   0.333910   0.353801
2   0.509206   0.450741   0.377788   0.366030   0.353733   0.368958
3   0.583297   0.517837   0.511471   0.501287   0.535623   0.562001
4   0.647386   0.621079   0.593125   0.587870   0.590875   0.612032

   8/31/2024  9/30/2024
0   0.347761   0.378329
1   0.394207   0.411886
2   0.417902   0.459814
3   0.608491   0.619420
4   0.645077   0.647457

[5 rows x 26 columns]

# Observations
- All data shares identifiers "RegionID", "RegionName", "RegionType", and "StateName"
- The time-series and formatting of the data is consistent across all the datasets.
- growth: Percentage change in values, representing property value growth or decline.
- value: Median home values over time.
- median_price: Median sale prices over time.
- list_price: Median list prices over time.
- sold_above_list and sold_below_list: Proportion of homes sold above or below the list price over time.

## Merging the datasets into one using "RegionID" as the temporal alignment.
### Furthering the data by creating derivations:
- Upgrade Costs: Based on growth or a percentage of median_price.
- Sales Revenue: Derived from median_price.
- Mortgage Payments: Using assumptions like average loan terms and interest rates.

In [3]:
# Merge datasets on RegionID, RegionName, and StateName
key_columns = ["RegionID", "RegionName", "StateName"]

# Reduce to time-series data for simplicity (assuming alignment by RegionID)
merged_data = dataframes["value"][key_columns].copy()

# Merge other datasets
for name, df in dataframes.items():
    time_columns = [col for col in df.columns if col not in key_columns]
    df_reduced = df[key_columns + time_columns]
    merged_data = pd.merge(merged_data, df_reduced, on=key_columns, suffixes=('', f'_{name}'))

# Inspect the merged structure
merged_data.head(), merged_data.columns.tolist()

(   RegionID       RegionName StateName  SizeRank RegionType    BaseDate  \
 0    394913     New York, NY        NY         1        msa  10/31/2024
 1    753899  Los Angeles, CA        CA         2        msa  10/31/2024
 2    394463      Chicago, IL        IL         3        msa  10/31/2024
 3    394514       Dallas, TX        TX         4        msa  10/31/2024
 4    394692      Houston, TX        TX         5        msa  10/31/2024

    11/30/2024  1/31/2025  10/31/2025  SizeRank_value  ...  \
 0        -0.5       -0.8         1.1               1  ...
 1        -0.7       -0.8         2.2               2  ...
 2        -1.0       -2.2         0.7               3  ...
 3        -1.1       -2.1         1.3               4  ...
 4        -0.9       -1.7         0.8               5  ...

   12/31/2023_sold_below_list  1/31/2024_sold_below_list  \
 0                   0.406383                   0.428314
 1                   0.426111                   0.460034
 2                   0.532863                   0.543956
 3                   0.613289                   0.623790
 4                   0.676135                   0.691283

    2/29/2024_sold_below_list  3/31/2024_sold_below_list  \
 0                   0.463802                   0.419320
 1                   0.383346                   0.348691
 2                   0.509206                   0.450741
 3                   0.583297                   0.517837
 4                   0.647386                   0.621079

    4/30/2024_sold_below_list  5/31/2024_sold_below_list  \
 0                   0.375195                   0.357391
 1                   0.325138                   0.316547
 2                   0.377788                   0.366030
 3                   0.511471                   0.501287
 4                   0.593125                   0.587870

    6/30/2024_sold_below_list  7/31/2024_sold_below_list  \
 0                   0.323827                   0.331516
 1                   0.333910                   0.353801
 2                   0.353733                   0.368958
 3                   0.535623                   0.562001
 4                   0.590875                   0.612032

    8/31/2024_sold_below_list  9/30/2024_sold_below_list
 0                   0.347761                   0.378329
 1                   0.394207                   0.411886
 2                   0.417902                   0.459814
 3                   0.608491                   0.619420
 4                   0.645077                   0.647457

 [5 rows x 126 columns],
 ['RegionID',
  'RegionName',
  'StateName',
  'SizeRank',
  'RegionType',
  'BaseDate',
  '11/30/2024',
  '1/31/2025',
  '10/31/2025',
  'SizeRank_value',
  'RegionType_value',
  '1/31/2023',
  '2/28/2023',
  '3/31/2023',
  '4/30/2023',
  '5/31/2023',
  '6/30/2023',
  '7/31/2023',
  '8/31/2023',
  '9/30/2023',
  '10/31/2023',
  '11/30/2023',
  '12/31/2023',
  '1/31/2024',
  '2/29/2024',
  '3/31/2024',
  '4/30/2024',
  '5/31/2024',
  '6/30/2024',
  '7/31/2024',
  '8/31/2024',
  '9/30/2024',
  '10/31/2024',
  'SizeRank_median_price',
  'RegionType_median_price',
  '1/31/2023_median_price',
  '2/28/2023_median_price',
  '3/31/2023_median_price',
  '4/30/2023_median_price',
  '5/31/2023_median_price',
  '6/30/2023_median_price',
  '7/31/2023_median_price',
  '8/31/2023_median_price',
  '9/30/2023_median_price',
  '10/31/2023_median_price',
  '11/30/2023_median_price',
  '12/31/2023_median_price',
  '1/31/2024_median_price',
  '2/29/2024_median_price',
  '3/31/2024_median_price',
  '4/30/2024_median_price',
  '5/31/2024_median_price',
  '6/30/2024_median_price',
  '7/31/2024_median_price',
  '8/31/2024_median_price',
  '9/30/2024_median_price',
  'SizeRank_list_price',
  'RegionType_list_price',
  '1/31/2023_list_price',
  '2/28/2023_list_price',
  '3/31/2023_list_price',
  '4/30/2023_list_price',
  '5/31/2023_list_price',
  '6/30/2023_list_price',
  '7/31/2023_list_price',
  '8/31/2023_list_price',
  '9/30/2023_list_price',
  '10/31/2023_list_price',
  '11/30/2023_list_price',
  '12/31/2023_list_price',
  '1/31/2024_list_price',
  '2/29/2024_list_price',
  '3/31/2024_list_price',
  '4/30/2024_list_price',
  '5/31/2024_list_price',
  '6/30/2024_list_price',
  '7/31/2024_list_price',
  '8/31/2024_list_price',
  '9/30/2024_list_price',
  '10/31/2024_list_price',
  'SizeRank_sold_above_list',
  'RegionType_sold_above_list',
  '1/31/2023_sold_above_list',
  '2/28/2023_sold_above_list',
  '3/31/2023_sold_above_list',
  '4/30/2023_sold_above_list',
  '5/31/2023_sold_above_list',
  '6/30/2023_sold_above_list',
  '7/31/2023_sold_above_list',
  '8/31/2023_sold_above_list',
  '9/30/2023_sold_above_list',
  '10/31/2023_sold_above_list',
  '11/30/2023_sold_above_list',
  '12/31/2023_sold_above_list',
  '1/31/2024_sold_above_list',
  '2/29/2024_sold_above_list',
  '3/31/2024_sold_above_list',
  '4/30/2024_sold_above_list',
  '5/31/2024_sold_above_list',
  '6/30/2024_sold_above_list',
  '7/31/2024_sold_above_list',
  '8/31/2024_sold_above_list',
  '9/30/2024_sold_above_list',
  'SizeRank_sold_below_list',
  'RegionType_sold_below_list',
  '1/31/2023_sold_below_list',
  '2/28/2023_sold_below_list',
  '3/31/2023_sold_below_list',
  '4/30/2023_sold_below_list',
  '5/31/2023_sold_below_list',
  '6/30/2023_sold_below_list',
  '7/31/2023_sold_below_list',
  '8/31/2023_sold_below_list',
  '9/30/2023_sold_below_list',
  '10/31/2023_sold_below_list',
  '11/30/2023_sold_below_list',
  '12/31/2023_sold_below_list',
  '1/31/2024_sold_below_list',
  '2/29/2024_sold_below_list',
  '3/31/2024_sold_below_list',
  '4/30/2024_sold_below_list',
  '5/31/2024_sold_below_list',
  '6/30/2024_sold_below_list',
  '7/31/2024_sold_below_list',
  '8/31/2024_sold_below_list',
  '9/30/2024_sold_below_list'])

# Calculate and analyze ROI:

### Explanation:
- Sales Revenue: The income generated from property sales.
- Upgrade Costs: Expenses incurred for property upgrades.
- Mortgage Payments: The total mortgage payments over the analysis period.
### Steps:
1. Calculate Upgrade Costs: Determine Sales Revenue from median sale prices.
   - Upgrade costs can be derived from the growth percentage and median_price.
     
>$
\text{Upgrade Costs} = \text{Median Price} * \text{Growth Percentage}
$

2. Estimate Revenue: Estimate the Upgrade Costs using growth percentages or as a fraction of median prices.
   - Revenue can be estimated using median_price adjusted by sales percentages <br /> (sold_above_list and sold_below_list).

3. Model Mortgage Payments: Calculate Mortgage Payments based on sale price, loan terms, and interest rates.
   - Formula:
>$
M = P \cdot \frac{r(1 + r)^n}{(1 + r)^n - 1}
$

   - Where:<br />
>M: Monthly payment<br />
P: Loan amount (principal)<br />
r: Monthly interest rate (annual rate ÷ 12)<br />
n: Total number of payments (loan term in months)

4. Compute ROI: Compute the ROI for each region and time period using the formula above.
>$
\text{ROI} = \frac{\text{Sales Revenue} - (\text{Upgrade Costs} + \text{Mortgage Payments})}{\text{Mortgage Payments}}
$

In [5]:
# Inspect column names to identify growth-related columns
print("All columns in merged_data:")
print(merged_data.columns.tolist())

# Adjust growth column selection based on actual column names
# Assuming growth columns correspond to specific date patterns or ranges
growth_columns = [col for col in merged_data.columns if col in ['11/30/2024', '1/31/2025', '10/31/2025']]
print("Identified growth-related columns:", growth_columns)

# Ensure alignment between price and growth columns
aligned_price_columns = [col for col in price_columns if any(date in col for date in growth_columns)]
print("Aligned price columns:", aligned_price_columns)

# Re-attempt calculation if growth columns are identified
if aligned_price_columns and growth_columns:
    upgrade_costs = merged_data[aligned_price_columns].values * merged_data[growth_columns].values
    upgrade_costs_df = pd.DataFrame(
        upgrade_costs,
        columns=[col.replace("median_price", "upgrade_costs") for col in aligned_price_columns],
        index=merged_data.index
    )
    merged_data_with_upgrades = pd.concat([merged_data, upgrade_costs_df], axis=1)
else:
    print("No growth columns found or alignment issue.")

# Inspect the result
merged_data_with_upgrades.head() if 'merged_data_with_upgrades' in locals() else merged_data.head()

All columns in merged_data:
['RegionID', 'RegionName', 'StateName', 'SizeRank', 'RegionType', 'BaseDate', '11/30/2024', '1/31/2025', '10/31/2025', 'SizeRank_value', 'RegionType_value', '1/31/2023', '2/28/2023', '3/31/2023', '4/30/2023', '5/31/2023', '6/30/2023', '7/31/2023', '8/31/2023', '9/30/2023', '10/31/2023', '11/30/2023', '12/31/2023', '1/31/2024', '2/29/2024', '3/31/2024', '4/30/2024', '5/31/2024', '6/30/2024', '7/31/2024', '8/31/2024', '9/30/2024', '10/31/2024', 'SizeRank_median_price', 'RegionType_median_price', '1/31/2023_median_price', '2/28/2023_median_price', '3/31/2023_median_price', '4/30/2023_median_price', '5/31/2023_median_price', '6/30/2023_median_price', '7/31/2023_median_price', '8/31/2023_median_price', '9/30/2023_median_price', '10/31/2023_median_price', '11/30/2023_median_price', '12/31/2023_median_price', '1/31/2024_median_price', '2/29/2024_median_price', '3/31/2024_median_price', '4/30/2024_median_price', '5/31/2024_median_price', '6/30/2024_median_price', '7/31/2024_median_price', '8/31/2024_median_price', '9/30/2024_median_price', 'SizeRank_list_price', 'RegionType_list_price', '1/31/2023_list_price', '2/28/2023_list_price', '3/31/2023_list_price', '4/30/2023_list_price', '5/31/2023_list_price', '6/30/2023_list_price', '7/31/2023_list_price', '8/31/2023_list_price', '9/30/2023_list_price', '10/31/2023_list_price', '11/30/2023_list_price', '12/31/2023_list_price', '1/31/2024_list_price', '2/29/2024_list_price', '3/31/2024_list_price', '4/30/2024_list_price', '5/31/2024_list_price', '6/30/2024_list_price', '7/31/2024_list_price', '8/31/2024_list_price', '9/30/2024_list_price', '10/31/2024_list_price', 'SizeRank_sold_above_list', 'RegionType_sold_above_list', '1/31/2023_sold_above_list', '2/28/2023_sold_above_list', '3/31/2023_sold_above_list', '4/30/2023_sold_above_list', '5/31/2023_sold_above_list', '6/30/2023_sold_above_list', '7/31/2023_sold_above_list', '8/31/2023_sold_above_list', '9/30/2023_sold_above_list', '10/31/2023_sold_above_list', '11/30/2023_sold_above_list', '12/31/2023_sold_above_list', '1/31/2024_sold_above_list', '2/29/2024_sold_above_list', '3/31/2024_sold_above_list', '4/30/2024_sold_above_list', '5/31/2024_sold_above_list', '6/30/2024_sold_above_list', '7/31/2024_sold_above_list', '8/31/2024_sold_above_list', '9/30/2024_sold_above_list', 'SizeRank_sold_below_list', 'RegionType_sold_below_list', '1/31/2023_sold_below_list', '2/28/2023_sold_below_list', '3/31/2023_sold_below_list', '4/30/2023_sold_below_list', '5/31/2023_sold_below_list', '6/30/2023_sold_below_list', '7/31/2023_sold_below_list', '8/31/2023_sold_below_list', '9/30/2023_sold_below_list', '10/31/2023_sold_below_list', '11/30/2023_sold_below_list', '12/31/2023_sold_below_list', '1/31/2024_sold_below_list', '2/29/2024_sold_below_list', '3/31/2024_sold_below_list', '4/30/2024_sold_below_list', '5/31/2024_sold_below_list', '6/30/2024_sold_below_list', '7/31/2024_sold_below_list', '8/31/2024_sold_below_list', '9/30/2024_sold_below_list']
Identified growth-related columns: ['11/30/2024', '1/31/2025', '10/31/2025']
Aligned price columns: []
No growth columns found or alignment issue.

,RegionID,RegionName,StateName,SizeRank,RegionType,BaseDate,11/30/2024,1/31/2025,10/31/2025,SizeRank_value,...,12/31/2023_sold_below_list,1/31/2024_sold_below_list,2/29/2024_sold_below_list,3/31/2024_sold_below_list,4/30/2024_sold_below_list,5/31/2024_sold_below_list,6/30/2024_sold_below_list,7/31/2024_sold_below_list,8/31/2024_sold_below_list,9/30/2024_sold_below_list
0,394913,"New York, NY",NY,1,msa,10/31/2024,-0.5,-0.8,1.1,1,...,0.406383,0.428314,0.463802,0.419320,0.375195,0.357391,0.323827,0.331516,0.347761,0.378329
1,753899,"Los Angeles, CA",CA,2,msa,10/31/2024,-0.7,-0.8,2.2,2,...,0.426111,0.460034,0.383346,0.348691,0.325138,0.316547,0.333910,0.353801,0.394207,0.411886
2,394463,"Chicago, IL",IL,3,msa,10/31/2024,-1.0,-2.2,0.7,3,...,0.532863,0.543956,0.509206,0.450741,0.377788,0.366030,0.353733,0.368958,0.417902,0.459814
3,394514,"Dallas, TX",TX,4,msa,10/31/2024,-1.1,-2.1,1.3,4,...,0.613289,0.623790,0.583297,0.517837,0.511471,0.501287,0.535623,0.562001,0.608491,0.619420
4,394692,"Houston, TX",TX,5,msa,10/31/2024,-0.9,-1.7,0.8,5,...,0.676135,0.691283,0.647386,0.621079,0.593125,0.587870,0.590875,0.612032,0.645077,0.647457

In [8]:
# Inspect column patterns for alignment
print("Inspecting column patterns for alignment...\n")

# Group and identify key columns
columns_summary = {
    "Median Price Columns": [col for col in merged_data.columns if "median_price" in col],
    "Sold Above List Columns": [col for col in merged_data.columns if "sold_above_list" in col],
    "Sold Below List Columns": [col for col in merged_data.columns if "sold_below_list" in col],
    "Growth Columns": [col for col in merged_data.columns if col in ['11/30/2024', '1/31/2025', '10/31/2025']],
}

# Print column group summaries
for key, columns in columns_summary.items():
    print(f"{key}: {columns[:5]}{'...' if len(columns) > 5 else ''}")

# Attempt to align and calculate Upgrade Costs based on aligned temporal data
aligned_columns = {
    key: [
        col for col in columns_summary["Median Price Columns"]
        if any(date in col for date in columns_summary["Growth Columns"])
    ]
    for key in ["Median Price Columns"]
}

# Recalculate Upgrade Costs if alignment is successful
if aligned_columns["Median Price Columns"] and columns_summary["Growth Columns"]:
    upgrade_costs = (
        merged_data[aligned_columns["Median Price Columns"]].values *
        merged_data[columns_summary["Growth Columns"]].values
    )
    upgrade_costs_df = pd.DataFrame(
        upgrade_costs,
        columns=[col.replace("median_price", "upgrade_costs") for col in aligned_columns["Median Price Columns"]],
        index=merged_data.index
    )
    merged_data_with_upgrades = pd.concat([merged_data, upgrade_costs_df], axis=1)
    print("\nUpgrade costs calculated and added successfully.")
else:
    print("\nNo alignment between growth and median price columns.")

# Inspect the result
merged_data_with_upgrades.head() if 'merged_data_with_upgrades' in locals() else merged_data.head()

Inspecting column patterns for alignment...

Median Price Columns: ['SizeRank_median_price', 'RegionType_median_price', '1/31/2023_median_price', '2/28/2023_median_price', '3/31/2023_median_price']...
Sold Above List Columns: ['SizeRank_sold_above_list', 'RegionType_sold_above_list', '1/31/2023_sold_above_list', '2/28/2023_sold_above_list', '3/31/2023_sold_above_list']...
Sold Below List Columns: ['SizeRank_sold_below_list', 'RegionType_sold_below_list', '1/31/2023_sold_below_list', '2/28/2023_sold_below_list', '3/31/2023_sold_below_list']...
Growth Columns: ['11/30/2024', '1/31/2025', '10/31/2025']

No alignment between growth and median price columns.

,RegionID,RegionName,StateName,SizeRank,RegionType,BaseDate,11/30/2024,1/31/2025,10/31/2025,SizeRank_value,...,12/31/2023_sold_below_list,1/31/2024_sold_below_list,2/29/2024_sold_below_list,3/31/2024_sold_below_list,4/30/2024_sold_below_list,5/31/2024_sold_below_list,6/30/2024_sold_below_list,7/31/2024_sold_below_list,8/31/2024_sold_below_list,9/30/2024_sold_below_list
0,394913,"New York, NY",NY,1,msa,10/31/2024,-0.5,-0.8,1.1,1,...,0.406383,0.428314,0.463802,0.419320,0.375195,0.357391,0.323827,0.331516,0.347761,0.378329
1,753899,"Los Angeles, CA",CA,2,msa,10/31/2024,-0.7,-0.8,2.2,2,...,0.426111,0.460034,0.383346,0.348691,0.325138,0.316547,0.333910,0.353801,0.394207,0.411886
2,394463,"Chicago, IL",IL,3,msa,10/31/2024,-1.0,-2.2,0.7,3,...,0.532863,0.543956,0.509206,0.450741,0.377788,0.366030,0.353733,0.368958,0.417902,0.459814
3,394514,"Dallas, TX",TX,4,msa,10/31/2024,-1.1,-2.1,1.3,4,...,0.613289,0.623790,0.583297,0.517837,0.511471,0.501287,0.535623,0.562001,0.608491,0.619420
4,394692,"Houston, TX",TX,5,msa,10/31/2024,-0.9,-1.7,0.8,5,...,0.676135,0.691283,0.647386,0.621079,0.593125,0.587870,0.590875,0.612032,0.645077,0.647457

In [9]:
# List columns to compare their formats
print("Growth Columns:", [col for col in merged_data.columns if col in ['11/30/2024', '1/31/2025', '10/31/2025']])
print("Median Price Columns:", [col for col in merged_data.columns if "median_price" in col])
print("Sold Above List Columns:", [col for col in merged_data.columns if "sold_above_list" in col])
print("Sold Below List Columns:", [col for col in merged_data.columns if "sold_below_list" in col])

Growth Columns: ['11/30/2024', '1/31/2025', '10/31/2025']
Median Price Columns: ['SizeRank_median_price', 'RegionType_median_price', '1/31/2023_median_price', '2/28/2023_median_price', '3/31/2023_median_price', '4/30/2023_median_price', '5/31/2023_median_price', '6/30/2023_median_price', '7/31/2023_median_price', '8/31/2023_median_price', '9/30/2023_median_price', '10/31/2023_median_price', '11/30/2023_median_price', '12/31/2023_median_price', '1/31/2024_median_price', '2/29/2024_median_price', '3/31/2024_median_price', '4/30/2024_median_price', '5/31/2024_median_price', '6/30/2024_median_price', '7/31/2024_median_price', '8/31/2024_median_price', '9/30/2024_median_price']
Sold Above List Columns: ['SizeRank_sold_above_list', 'RegionType_sold_above_list', '1/31/2023_sold_above_list', '2/28/2023_sold_above_list', '3/31/2023_sold_above_list', '4/30/2023_sold_above_list', '5/31/2023_sold_above_list', '6/30/2023_sold_above_list', '7/31/2023_sold_above_list', '8/31/2023_sold_above_list', '9/30/2023_sold_above_list', '10/31/2023_sold_above_list', '11/30/2023_sold_above_list', '12/31/2023_sold_above_list', '1/31/2024_sold_above_list', '2/29/2024_sold_above_list', '3/31/2024_sold_above_list', '4/30/2024_sold_above_list', '5/31/2024_sold_above_list', '6/30/2024_sold_above_list', '7/31/2024_sold_above_list', '8/31/2024_sold_above_list', '9/30/2024_sold_above_list']
Sold Below List Columns: ['SizeRank_sold_below_list', 'RegionType_sold_below_list', '1/31/2023_sold_below_list', '2/28/2023_sold_below_list', '3/31/2023_sold_below_list', '4/30/2023_sold_below_list', '5/31/2023_sold_below_list', '6/30/2023_sold_below_list', '7/31/2023_sold_below_list', '8/31/2023_sold_below_list', '9/30/2023_sold_below_list', '10/31/2023_sold_below_list', '11/30/2023_sold_below_list', '12/31/2023_sold_below_list', '1/31/2024_sold_below_list', '2/29/2024_sold_below_list', '3/31/2024_sold_below_list', '4/30/2024_sold_below_list', '5/31/2024_sold_below_list', '6/30/2024_sold_below_list', '7/31/2024_sold_below_list', '8/31/2024_sold_below_list', '9/30/2024_sold_below_list']

In [10]:
# Manually map growth dates to median price dates
column_mapping = {
    "11/30/2024": "10/31/2024_median_price",
    "1/31/2025": "12/31/2024_median_price",
    "10/31/2025": "9/30/2025_median_price"
}

# Use the mapping to align columns
growth_columns = list(column_mapping.keys())
price_columns = list(column_mapping.values())

In [11]:
# Calculate Upgrade Costs
upgrade_costs = merged_data[price_columns].values * merged_data[growth_columns].values

# Create a DataFrame for Upgrade Costs
upgrade_costs_df = pd.DataFrame(
    upgrade_costs,
    columns=[col.replace("median_price", "upgrade_costs") for col in price_columns],
    index=merged_data.index
)

# Merge with the original dataset
merged_data_with_upgrades = pd.concat([merged_data, upgrade_costs_df], axis=1)

# Inspect the updated dataset
merged_data_with_upgrades.head()

KeyError: "None of [Index(['10/31/2024_median_price', '12/31/2024_median_price',\n       '9/30/2025_median_price'],\n      dtype='object')] are in the [columns]"

In [12]:
# Print all column names in merged_data
print("All column names in the dataset:")
print(merged_data.columns.tolist())

All column names in the dataset:
['RegionID', 'RegionName', 'StateName', 'SizeRank', 'RegionType', 'BaseDate', '11/30/2024', '1/31/2025', '10/31/2025', 'SizeRank_value', 'RegionType_value', '1/31/2023', '2/28/2023', '3/31/2023', '4/30/2023', '5/31/2023', '6/30/2023', '7/31/2023', '8/31/2023', '9/30/2023', '10/31/2023', '11/30/2023', '12/31/2023', '1/31/2024', '2/29/2024', '3/31/2024', '4/30/2024', '5/31/2024', '6/30/2024', '7/31/2024', '8/31/2024', '9/30/2024', '10/31/2024', 'SizeRank_median_price', 'RegionType_median_price', '1/31/2023_median_price', '2/28/2023_median_price', '3/31/2023_median_price', '4/30/2023_median_price', '5/31/2023_median_price', '6/30/2023_median_price', '7/31/2023_median_price', '8/31/2023_median_price', '9/30/2023_median_price', '10/31/2023_median_price', '11/30/2023_median_price', '12/31/2023_median_price', '1/31/2024_median_price', '2/29/2024_median_price', '3/31/2024_median_price', '4/30/2024_median_price', '5/31/2024_median_price', '6/30/2024_median_price', '7/31/2024_median_price', '8/31/2024_median_price', '9/30/2024_median_price', 'SizeRank_list_price', 'RegionType_list_price', '1/31/2023_list_price', '2/28/2023_list_price', '3/31/2023_list_price', '4/30/2023_list_price', '5/31/2023_list_price', '6/30/2023_list_price', '7/31/2023_list_price', '8/31/2023_list_price', '9/30/2023_list_price', '10/31/2023_list_price', '11/30/2023_list_price', '12/31/2023_list_price', '1/31/2024_list_price', '2/29/2024_list_price', '3/31/2024_list_price', '4/30/2024_list_price', '5/31/2024_list_price', '6/30/2024_list_price', '7/31/2024_list_price', '8/31/2024_list_price', '9/30/2024_list_price', '10/31/2024_list_price', 'SizeRank_sold_above_list', 'RegionType_sold_above_list', '1/31/2023_sold_above_list', '2/28/2023_sold_above_list', '3/31/2023_sold_above_list', '4/30/2023_sold_above_list', '5/31/2023_sold_above_list', '6/30/2023_sold_above_list', '7/31/2023_sold_above_list', '8/31/2023_sold_above_list', '9/30/2023_sold_above_list', '10/31/2023_sold_above_list', '11/30/2023_sold_above_list', '12/31/2023_sold_above_list', '1/31/2024_sold_above_list', '2/29/2024_sold_above_list', '3/31/2024_sold_above_list', '4/30/2024_sold_above_list', '5/31/2024_sold_above_list', '6/30/2024_sold_above_list', '7/31/2024_sold_above_list', '8/31/2024_sold_above_list', '9/30/2024_sold_above_list', 'SizeRank_sold_below_list', 'RegionType_sold_below_list', '1/31/2023_sold_below_list', '2/28/2023_sold_below_list', '3/31/2023_sold_below_list', '4/30/2023_sold_below_list', '5/31/2023_sold_below_list', '6/30/2023_sold_below_list', '7/31/2023_sold_below_list', '8/31/2023_sold_below_list', '9/30/2023_sold_below_list', '10/31/2023_sold_below_list', '11/30/2023_sold_below_list', '12/31/2023_sold_below_list', '1/31/2024_sold_below_list', '2/29/2024_sold_below_list', '3/31/2024_sold_below_list', '4/30/2024_sold_below_list', '5/31/2024_sold_below_list', '6/30/2024_sold_below_list', '7/31/2024_sold_below_list', '8/31/2024_sold_below_list', '9/30/2024_sold_below_list']