In [1]:
# Introduction and Setup
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

# Goals: Calculate and visualize Sales ROI, Rental ROI, and Overall ROI for real estate investment.

In [2]:
# Data Import
files = {
    "inventory": "./Metro_invt_fs_uc_sfrcondo_sm_month.csv",
    "sales_data": "./Metro_sales_count_now_uc_sfrcondo_month.csv",
    "zhvf_growth": "./Metro_zhvf_growth_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv",
    "zori": "./Metro_zori_uc_sfrcondomfr_sm_month.csv"
}
dataframes = {key: pd.read_csv(path) for key, path in files.items()}

In [3]:
# Display datasets
for name, df in dataframes.items():
    print(f"Dataset: {name}")
    print(df.head(), "\n")

Dataset: inventory
   RegionID  SizeRank       RegionName RegionType StateName  2018-03-31  \
0    102001         0    United States    country       NaN   1421530.0
1    394913         1     New York, NY        msa        NY     73707.0
2    753899         2  Los Angeles, CA        msa        CA     21998.0
3    394463         3      Chicago, IL        msa        IL     38581.0
4    394514         4       Dallas, TX        msa        TX     24043.0

   2018-04-30  2018-05-31  2018-06-30  2018-07-31  ...  2024-01-31  \
0   1500196.0   1592417.0   1660615.0   1709144.0  ...    890491.0
1     80345.0     85864.0     90067.0     91881.0  ...     36461.0
2     23784.0     25605.0     27109.0     28811.0  ...     14058.0
3     42253.0     45757.0     47492.0     48984.0  ...     19092.0
4     25876.0     28225.0     30490.0     32408.0  ...     21664.0

   2024-02-29  2024-03-31  2024-04-30  2024-05-31  2024-06-30  2024-07-31  \
0    876361.0    913841.0    967480.0   1036855.0   1101144.0   1149668.0
1     34858.0     36244.0     38666.0     41641.0     43847.0     44838.0
2     13754.0     14572.0     15567.0     16977.0     18457.0     19823.0
3     18342.0     19059.0     20389.0     21782.0     23134.0     24180.0
4     21401.0     22537.0     24388.0     26468.0     28696.0     30378.0

   2024-08-31  2024-09-30  2024-10-31
0   1173406.0   1180162.0   1181190.0
1     43767.0     42694.0     41774.0
2     20703.0     21328.0     21589.0
3     24779.0     25144.0     25409.0
4     31631.0     31774.0     31776.0

[5 rows x 85 columns]

Dataset: sales_data
   RegionID  SizeRank       RegionName RegionType StateName  2008-02-29  \
0    102001         0    United States    country       NaN    202444.0
1    394913         1     New York, NY        msa        NY      8671.0
2    753899         2  Los Angeles, CA        msa        CA      4137.0
3    394463         3      Chicago, IL        msa        IL      5580.0
4    394514         4       Dallas, TX        msa        TX      4873.0

   2008-03-31  2008-04-30  2008-05-31  2008-06-30  ...  2024-01-31  \
0    234240.0    260112.0    286644.0    299878.0  ...    213284.0
1      9170.0     10219.0     10612.0     11518.0  ...     10433.0
2      5037.0      6062.0      6871.0      7225.0  ...      4400.0
3      6918.0      7236.0      7945.0      8783.0  ...      5511.0
4      5523.0      5988.0      6672.0      6673.0  ...      4207.0

   2024-02-29  2024-03-31  2024-04-30  2024-05-31  2024-06-30  2024-07-31  \
0    236191.0    284929.0    321190.0    354379.0    329816.0    345965.0
1      9029.0     10171.0     11182.0     12466.0     12713.0     14428.0
2      4988.0      6100.0      6722.0      7123.0      6387.0      7026.0
3      5775.0      7681.0      9290.0     10212.0      9776.0     10261.0
4      5142.0      6156.0      6976.0      7474.0      6489.0      6821.0

   2024-08-31  2024-09-30  2024-10-31
0    335499.0    286245.0    308139.0
1     14561.0     12038.0     11781.0
2      6791.0      5876.0      6960.0
3      9917.0      8549.0      8954.0
4      6375.0      5426.0      5830.0

[5 rows x 206 columns]

Dataset: zhvf_growth
   RegionID  SizeRank       RegionName RegionType StateName    BaseDate  \
0    102001         0    United States    country       NaN  2024-10-31
1    394913         1     New York, NY        msa        NY  2024-10-31
2    753899         2  Los Angeles, CA        msa        CA  2024-10-31
3    394463         3      Chicago, IL        msa        IL  2024-10-31
4    394514         4       Dallas, TX        msa        TX  2024-10-31

   2024-11-30  2025-01-31  2025-10-31
0         0.2         0.6         2.9
1         0.3         0.5         1.5
2         0.2         0.4         2.3
3         0.1         0.2         1.1
4        -0.2        -0.7         1.2

Dataset: zori
   RegionID  SizeRank       RegionName RegionType StateName   2015-01-31  \
0    102001         0    United States    country       NaN  1219.505157
1    394913         1     New York, NY        msa        NY  2309.053853
2    753899         2  Los Angeles, CA        msa        CA  1824.564158
3    394463         3      Chicago, IL        msa        IL  1376.890143
4    394514         4       Dallas, TX        msa        TX  1102.520229

    2015-02-28   2015-03-31   2015-04-30   2015-05-31  ...   2024-01-31  \
0  1226.110978  1235.157406  1244.364461  1253.736804  ...  1944.107977
1  2323.945634  2342.172815  2362.866865  2378.708487  ...  3174.657547
2  1837.131789  1852.995958  1866.544385  1880.965935  ...  2871.259690
3  1383.676519  1393.215837  1402.069318  1412.366133  ...  1917.995356
4  1107.580420  1115.085598  1127.112455  1136.976254  ...  1741.246848

    2024-02-29   2024-03-31   2024-04-30   2024-05-31   2024-06-30  \
0  1953.303835  1965.220282  1976.936082  1988.630874  1999.099587
1  3193.191963  3224.492468  3253.440784  3287.035670  3315.485733
2  2884.646776  2901.529115  2911.722715  2926.292759  2939.666326
3  1933.028681  1947.243502  1967.196287  1985.349245  2002.663746
4  1738.896640  1743.615955  1748.528748  1756.554919  1762.601323

    2024-07-31   2024-08-31   2024-09-30   2024-10-31
0  2007.481254  2011.654608  2012.727325  2009.011878
1  3333.168448  3338.425192  3327.404340  3312.654681
2  2953.144347  2959.110454  2963.153361  2960.439674
3  2011.593882  2014.948727  2013.286737  2012.134644
4  1768.678076  1771.439698  1767.837761  1760.888138

[5 rows x 123 columns]

In [4]:
# Data Cleaning
for name, df in dataframes.items():
    df.dropna(thresh=len(df.columns) * 0.8, inplace=True)
    dataframes[name] = df
print("Data cleaning completed.")

Data cleaning completed.

In [5]:
# Sales ROI Analysis
sales_data = dataframes["sales_data"]
latest_date = sales_data.columns[sales_data.columns.str.match(r"\d{4}-\d{2}-\d{2}")].max()
growth_column = sales_data.columns[sales_data.columns.str.contains("growth", case=False)].max()

sales_data[latest_date] = pd.to_numeric(sales_data[latest_date], errors="coerce")
sales_data[growth_column] = pd.to_numeric(sales_data[growth_column], errors="coerce")
purchase_price = sales_data[latest_date]
sales_data["Projected_Price"] = purchase_price * (1 + sales_data[growth_column] / 100)

KeyError: nan

In [ ]:
print(sales_data.columns)

In [ ]:
latest_date = sales_data.columns[sales_data.columns.str.match(r"\d{4}-\d{2}-\d{2}")].max()
growth_column = sales_data.columns[sales_data.columns.str.contains("growth", case=False)].max()
print("Latest Date Column:", latest_date)
print("Growth Column:", growth_column)

In [ ]:
sales_data[latest_date] = pd.to_numeric(sales_data[latest_date], errors="coerce")
sales_data[growth_column] = pd.to_numeric(sales_data[growth_column], errors="coerce")

In [ ]:
print(sales_data[latest_date].head())
print(sales_data[growth_column].head())

In [ ]:
sales_data[latest_date] = pd.to_numeric(sales_data[latest_date], errors="coerce")
sales_data[growth_column] = pd.to_numeric(sales_data[growth_column], errors="coerce")
print(sales_data[sales_data[latest_date].isna()])  # Check rows with NaN in `latest_date`
print(sales_data[sales_data[growth_column].isna()])  # Check rows with NaN in `growth_column`

# Drop rows with NaN in these columns
sales_data.dropna(subset=[latest_date, growth_column], inplace=True)

In [ ]:
purchase_price = sales_data[latest_date]
sales_data["Projected_Price"] = purchase_price * (1 + sales_data[growth_column] / 100)