In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
# Define file paths
files = {
    "inventory": "./Metro_invt_fs_uc_sfrcondo_sm_month.csv",
    "market_heat_index": "./Metro_market_temp_index_uc_sfrcondo_month.csv",
    "days_to_pending": "./Metro_mean_doz_pending_uc_sfrcondo_sm_month.csv",
    "new_construction_sales": "./Metro_new_con_sales_count_raw_uc_sfrcondo_month.csv",
    "sales_count": "./Metro_sales_count_now_uc_sfrcondo_month.csv",
    "zhvf_growth": "./Metro_zhvf_growth_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv",
    "zhvi": "./Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv",
    "zori": "./Metro_zori_uc_sfrcondomfr_sm_month.csv",
    "zorf_growth": "./National_zorf_growth_uc_sfr_sm_month.csv"
}

# Load all files into dataframes
dataframes = {key: pd.read_csv(path) for key, path in files.items()}

# Display first few rows of each dataset
for name, df in dataframes.items():
    print(f"Dataset: {name}")
    print(df.head(), "\n")

Dataset: inventory
   RegionID  SizeRank       RegionName RegionType StateName  2018-03-31  \
0    102001         0    United States    country       NaN   1421530.0
1    394913         1     New York, NY        msa        NY     73707.0
2    753899         2  Los Angeles, CA        msa        CA     21998.0
3    394463         3      Chicago, IL        msa        IL     38581.0
4    394514         4       Dallas, TX        msa        TX     24043.0

   2018-04-30  2018-05-31  2018-06-30  2018-07-31  ...  2024-01-31  \
0   1500196.0   1592417.0   1660615.0   1709144.0  ...    890491.0
1     80345.0     85864.0     90067.0     91881.0  ...     36461.0
2     23784.0     25605.0     27109.0     28811.0  ...     14058.0
3     42253.0     45757.0     47492.0     48984.0  ...     19092.0
4     25876.0     28225.0     30490.0     32408.0  ...     21664.0

   2024-02-29  2024-03-31  2024-04-30  2024-05-31  2024-06-30  2024-07-31  \
0    876361.0    913841.0    967480.0   1036855.0   1101144.0   1149668.0
1     34858.0     36244.0     38666.0     41641.0     43847.0     44838.0
2     13754.0     14572.0     15567.0     16977.0     18457.0     19823.0
3     18342.0     19059.0     20389.0     21782.0     23134.0     24180.0
4     21401.0     22537.0     24388.0     26468.0     28696.0     30378.0

   2024-08-31  2024-09-30  2024-10-31
0   1173406.0   1180162.0   1181190.0
1     43767.0     42694.0     41774.0
2     20703.0     21328.0     21589.0
3     24779.0     25144.0     25409.0
4     31631.0     31774.0     31776.0

[5 rows x 85 columns]

Dataset: market_heat_index
   RegionID  SizeRank       RegionName RegionType StateName  2018-01-31  \
0    102001         0    United States    country       NaN        49.0
1    394913         1     New York, NY        msa        NY        52.0
2    753899         2  Los Angeles, CA        msa        CA        68.0
3    394463         3      Chicago, IL        msa        IL        48.0
4    394514         4       Dallas, TX        msa        TX        55.0

   2018-02-28  2018-03-31  2018-04-30  2018-05-31  ...  2024-01-31  \
0        50.0        52.0        54.0        55.0  ...        59.0
1        52.0        55.0        56.0        55.0  ...        85.0
2        66.0        65.0        66.0        66.0  ...        81.0
3        49.0        51.0        52.0        51.0  ...        68.0
4        55.0        58.0        60.0        59.0  ...        66.0

   2024-02-29  2024-03-31  2024-04-30  2024-05-31  2024-06-30  2024-07-31  \
0        63.0        63.0        62.0        59.0        57.0        55.0
1        91.0        89.0        86.0        81.0        77.0        76.0
2        84.0        83.0        80.0        74.0        70.0        67.0
3        74.0        76.0        75.0        71.0        67.0        64.0
4        67.0        67.0        65.0        59.0        55.0        51.0

   2024-08-31  2024-09-30  2024-10-31
0        53.0        52.0        50.0
1        76.0        73.0        69.0
2        65.0        62.0        61.0
3        61.0        58.0        56.0
4        49.0        48.0        48.0

[5 rows x 87 columns]

Dataset: days_to_pending
   RegionID  SizeRank       RegionName RegionType StateName  2018-03-31  \
0    102001         0    United States    country       NaN        51.0
1    394913         1     New York, NY        msa        NY        68.0
2    753899         2  Los Angeles, CA        msa        CA        35.0
3    394463         3      Chicago, IL        msa        IL        51.0
4    394514         4       Dallas, TX        msa        TX        46.0

   2018-04-30  2018-05-31  2018-06-30  2018-07-31  ...  2024-01-31  \
0        48.0        45.0        43.0        44.0  ...        49.0
1        65.0        63.0        64.0        66.0  ...        68.0
2        32.0        31.0        32.0        33.0  ...        40.0
3        44.0        40.0        39.0        40.0  ...        42.0
4        42.0        38.0        37.0        38.0  ...        51.0

   2024-02-29  2024-03-31  2024-04-30  2024-05-31  2024-06-30  2024-07-31  \
0        52.0        49.0        43.0        39.0        37.0        38.0
1        71.0        67.0        58.0        51.0        49.0        49.0
2        41.0        37.0        33.0        30.0        29.0        30.0
3        43.0        38.0        31.0        26.0        24.0        24.0
4        52.0        49.0        43.0        39.0        38.0        40.0

   2024-08-31  2024-09-30  2024-10-31
0        41.0        44.0        46.0
1        52.0        55.0        58.0
2        33.0        36.0        38.0
3        25.0        28.0        31.0
4        45.0        50.0        54.0

[5 rows x 85 columns]

Dataset: new_construction_sales
   RegionID  SizeRank       RegionName RegionType StateName  2018-01-31  \
0    102001         0    United States    country       NaN     34523.0
1    394913         1     New York, NY        msa        NY       546.0
2    753899         2  Los Angeles, CA        msa        CA       333.0
3    394463         3      Chicago, IL        msa        IL       287.0
4    394514         4       Dallas, TX        msa        TX      1439.0

   2018-02-28  2018-03-31  2018-04-30  2018-05-31  ...  2023-12-31  \
0     33812.0     43335.0     38319.0     40724.0  ...     33376.0
1       473.0       574.0       529.0       611.0  ...       362.0
2       397.0       586.0       438.0       453.0  ...       192.0
3       253.0       332.0       350.0       391.0  ...       348.0
4      1515.0      2083.0      1794.0      1600.0  ...      1600.0

   2024-01-31  2024-02-29  2024-03-31  2024-04-30  2024-05-31  2024-06-30  \
0     24156.0     30545.0     36263.0     34073.0     36559.0     33219.0
1       315.0       307.0       351.0       334.0       457.0       363.0
2       128.0       148.0       235.0       235.0       231.0       222.0
3       286.0       401.0       414.0       444.0       518.0       414.0
4      1178.0      1365.0      1590.0      1515.0      1464.0      1432.0

   2024-07-31  2024-08-31  2024-09-30
0     30925.0     29057.0     24605.0
1       406.0       396.0       314.0
2       142.0       147.0       117.0
3       421.0       451.0       353.0
4      1218.0      1035.0       720.0

[5 rows x 86 columns]

Dataset: sales_count
   RegionID  SizeRank       RegionName RegionType StateName  2008-02-29  \
0    102001         0    United States    country       NaN    202444.0
1    394913         1     New York, NY        msa        NY      8671.0
2    753899         2  Los Angeles, CA        msa        CA      4137.0
3    394463         3      Chicago, IL        msa        IL      5580.0
4    394514         4       Dallas, TX        msa        TX      4873.0

   2008-03-31  2008-04-30  2008-05-31  2008-06-30  ...  2024-01-31  \
0    234240.0    260112.0    286644.0    299878.0  ...    213284.0
1      9170.0     10219.0     10612.0     11518.0  ...     10433.0
2      5037.0      6062.0      6871.0      7225.0  ...      4400.0
3      6918.0      7236.0      7945.0      8783.0  ...      5511.0
4      5523.0      5988.0      6672.0      6673.0  ...      4207.0

   2024-02-29  2024-03-31  2024-04-30  2024-05-31  2024-06-30  2024-07-31  \
0    236191.0    284929.0    321190.0    354379.0    329816.0    345965.0
1      9029.0     10171.0     11182.0     12466.0     12713.0     14428.0
2      4988.0      6100.0      6722.0      7123.0      6387.0      7026.0
3      5775.0      7681.0      9290.0     10212.0      9776.0     10261.0
4      5142.0      6156.0      6976.0      7474.0      6489.0      6821.0

   2024-08-31  2024-09-30  2024-10-31
0    335499.0    286245.0    308139.0
1     14561.0     12038.0     11781.0
2      6791.0      5876.0      6960.0
3      9917.0      8549.0      8954.0
4      6375.0      5426.0      5830.0

[5 rows x 206 columns]

Dataset: zhvf_growth
   RegionID  SizeRank       RegionName RegionType StateName    BaseDate  \
0    102001         0    United States    country       NaN  2024-10-31
1    394913         1     New York, NY        msa        NY  2024-10-31
2    753899         2  Los Angeles, CA        msa        CA  2024-10-31
3    394463         3      Chicago, IL        msa        IL  2024-10-31
4    394514         4       Dallas, TX        msa        TX  2024-10-31

   2024-11-30  2025-01-31  2025-10-31
0         0.2         0.6         2.9
1         0.3         0.5         1.5
2         0.2         0.4         2.3
3         0.1         0.2         1.1
4        -0.2        -0.7         1.2

Dataset: zhvi
   RegionID  SizeRank       RegionName RegionType StateName     2000-01-31  \
0    102001         0    United States    country       NaN  121618.117906
1    394913         1     New York, NY        msa        NY  216209.133034
2    753899         2  Los Angeles, CA        msa        CA  220054.246992
3    394463         3      Chicago, IL        msa        IL  152313.404618
4    394514         4       Dallas, TX        msa        TX  124931.823275

      2000-02-29     2000-03-31     2000-04-30     2000-05-31  ...  \
0  121832.083163  122097.431586  122666.551870  123321.541083  ...
1  217127.899860  218055.176122  219934.196642  221879.987460  ...
2  220873.127993  221963.869677  224134.079222  226507.608099  ...
3  152454.402460  152722.935334  153390.978391  154194.553834  ...
4  124987.468346  125051.438051  125217.560655  125436.588761  ...

      2024-01-31     2024-02-29     2024-03-31     2024-04-30     2024-05-31  \
0  351518.721971  352307.611057  353841.834013  355689.143658  357116.078246
1  636222.199812  640261.759998  645659.925232  651762.255593  656416.260742
2  918152.699842  915212.200707  914100.045351  917555.375306  923429.357719
3  309242.532032  310621.674151  313019.037704  315872.731458  317979.880350
4  368653.283687  369131.167377  370278.543600  371238.456044  371380.958812

      2024-06-30     2024-07-31     2024-08-31     2024-09-30     2024-10-31
0  357675.012344  357822.347127  358064.560426  358513.017685  359098.757006
1  659493.785408  662237.503625  665976.304121  669998.634470  673519.052950
2  927370.843139  931734.333222  936905.038981  943310.514820  948517.694617
3  319195.707171  319927.287910  320843.743524  321841.084746  322812.993795
4  370722.650770  369792.633169  369147.346536  368951.387387  368846.512185

[5 rows x 303 columns]

Dataset: zori
   RegionID  SizeRank       RegionName RegionType StateName   2015-01-31  \
0    102001         0    United States    country       NaN  1219.505157
1    394913         1     New York, NY        msa        NY  2309.053853
2    753899         2  Los Angeles, CA        msa        CA  1824.564158
3    394463         3      Chicago, IL        msa        IL  1376.890143
4    394514         4       Dallas, TX        msa        TX  1102.520229

    2015-02-28   2015-03-31   2015-04-30   2015-05-31  ...   2024-01-31  \
0  1226.110978  1235.157406  1244.364461  1253.736804  ...  1944.107977
1  2323.945634  2342.172815  2362.866865  2378.708487  ...  3174.657547
2  1837.131789  1852.995958  1866.544385  1880.965935  ...  2871.259690
3  1383.676519  1393.215837  1402.069318  1412.366133  ...  1917.995356
4  1107.580420  1115.085598  1127.112455  1136.976254  ...  1741.246848

    2024-02-29   2024-03-31   2024-04-30   2024-05-31   2024-06-30  \
0  1953.303835  1965.220282  1976.936082  1988.630874  1999.099587
1  3193.191963  3224.492468  3253.440784  3287.035670  3315.485733
2  2884.646776  2901.529115  2911.722715  2926.292759  2939.666326
3  1933.028681  1947.243502  1967.196287  1985.349245  2002.663746
4  1738.896640  1743.615955  1748.528748  1756.554919  1762.601323

    2024-07-31   2024-08-31   2024-09-30   2024-10-31
0  2007.481254  2011.654608  2012.727325  2009.011878
1  3333.168448  3338.425192  3327.404340  3312.654681
2  2953.144347  2959.110454  2963.153361  2960.439674
3  2011.593882  2014.948727  2013.286737  2012.134644
4  1768.678076  1771.439698  1767.837761  1760.888138

[5 rows x 123 columns]

Dataset: zorf_growth
   RegionID  SizeRank     RegionName RegionType    BaseDate  2024-11-30  \
0    102001         0  United States    country  2024-10-31        -0.1

   2025-01-31  2025-10-31
0         0.2         3.4

In [3]:
# Example of cleaning
for name, df in dataframes.items():
    # Drop rows with excessive missing data
    df.dropna(thresh=len(df.columns) * 0.8, inplace=True)
    # Convert date columns to datetime if present
    if 'date' in df.columns:
        df['date'] = pd.to_datetime(df['date'])
    dataframes[name] = df

print("Data cleaning completed.")

Data cleaning completed.

In [4]:
# Identify date columns (they usually look like "YYYY-MM-DD")
date_columns = inventory_data.columns[5:]  # Assuming first 5 columns are metadata

# Reshape the dataset to long format (melt only date columns)
inventory_data_long = pd.melt(
    inventory_data,
    id_vars=["RegionName", "StateName"],  # Keep these columns as identifiers
    value_vars=date_columns,  # Only melt date columns
    var_name="Date",
    value_name="Inventory"
)

# Convert the 'Date' column to datetime
inventory_data_long["Date"] = pd.to_datetime(inventory_data_long["Date"])

# Group by region and plot inventory trends
regions_to_plot = inventory_data_long["RegionName"].unique()[:5]  # Limit to first 5 regions for clarity
for region in regions_to_plot:
    region_data = inventory_data_long[inventory_data_long["RegionName"] == region]
    plt.plot(region_data["Date"], region_data["Inventory"], label=region)

plt.title("Inventory Trends")
plt.xlabel("Date")
plt.ylabel("Inventory Count")
plt.legend()
plt.show()

NameError: name 'inventory_data' is not defined

In [ ]:
print(sales_data.columns)

In [ ]:
# Identify the latest date column
latest_date = sales_data.columns[sales_data.columns.str.match(r"\d{4}-\d{2}-\d{2}")].max()

In [ ]:
# Identify the correct growth column
growth_column = sales_data.columns[sales_data.columns.str.match(r"2024-11-30")].max()  # Adjust date as per data

In [ ]:
# Ensure numeric values for calculations
sales_data[latest_date] = pd.to_numeric(sales_data[latest_date], errors="coerce")
sales_data[growth_column] = pd.to_numeric(sales_data[growth_column], errors="coerce")

In [ ]:
purchase_price = sales_data[latest_date]

In [ ]:
# Identify latest date and growth columns
latest_date = sales_data.columns[sales_data.columns.str.match(r"\d{4}-\d{2}-\d{2}")].max()
growth_column = sales_data.columns[sales_data.columns.str.match(r"2024-11-30")].max()

# Convert columns to numeric
sales_data[latest_date] = pd.to_numeric(sales_data[latest_date], errors="coerce")
sales_data[growth_column] = pd.to_numeric(sales_data[growth_column], errors="coerce")

# Calculate purchase price and projected price
purchase_price = sales_data[latest_date]
sales_data["Projected_Price"] = purchase_price * (1 + sales_data[growth_column] / 100)

# Mortgage calculations
down_payment = purchase_price * 0.20
loan_amount = purchase_price - down_payment
annual_interest_rate = 0.03
loan_term_years = 30
monthly_mortgage = (
    loan_amount * annual_interest_rate / 12 /
    (1 - (1 + annual_interest_rate / 12) ** (-loan_term_years * 12))
)
total_mortgage_payments = monthly_mortgage * loan_term_years * 12

# Profit and ROI calculations
sales_data["Profit"] = sales_data["Projected_Price"] - purchase_price - total_mortgage_payments
sales_data["Sales_ROI (%)"] = (sales_data["Profit"] / purchase_price) * 100

# Display top regions by Sales ROI
top_sales_roi = sales_data.sort_values(by="Sales_ROI (%)", ascending=False).head(10)
print(top_sales_roi[["RegionName", "Sales_ROI (%)", "Profit"]])

In [ ]:
# Confirm latest_rent_date exists in the zori dataset
print("Rental Data Columns in ZORI:", zori.columns)

In [ ]:
# Merge rental data with sales data
rental_data = sales_data.merge(zori, on="RegionName", suffixes=("_sales", "_rent"))

# Confirm the column name after the merge
print("Rental Data Columns After Merge:", rental_data.columns)

In [ ]:
# Use the renamed column for rental income
latest_rent_date_renamed = f"{latest_rent_date}_rent"

# Ensure the rental income column is numeric
rental_data[latest_rent_date_renamed] = pd.to_numeric(rental_data[latest_rent_date_renamed], errors="coerce")

# Calculate monthly and annual rental income
rental_data["Monthly_Rental_Income"] = rental_data[latest_rent_date_renamed]
rental_data["Annual_Rental_Income"] = rental_data["Monthly_Rental_Income"] * 12

In [ ]:
# Assumptions for costs
maintenance_costs = 200  # $200/month for maintenance
annual_taxes = 0.01 * purchase_price  # Example: 1% of purchase price annually

# Net annual rental income
rental_data["Net_Annual_Rental_Income"] = (
    rental_data["Annual_Rental_Income"]
    - (maintenance_costs * 12)
    - annual_taxes
    - total_mortgage_payments / loan_term_years
)

# Calculate rental ROI
rental_data["Rental_ROI (%)"] = (rental_data["Net_Annual_Rental_Income"] / purchase_price) * 100

# Display top regions by Rental ROI
top_rental_roi = rental_data.sort_values(by="Rental_ROI (%)", ascending=False).head(10)
print(top_rental_roi[["RegionName", "Rental_ROI (%)", "Net_Annual_Rental_Income"]])

In [ ]:
# Rental ROI Visualization
plt.figure(figsize=(10, 6))
plt.bar(top_rental_roi["RegionName"], top_rental_roi["Rental_ROI (%)"])
plt.title("Top Regions by Rental ROI")
plt.xlabel("Region")
plt.ylabel("Rental ROI (%)")
plt.xticks(rotation=45, ha='right')
plt.show()

In [ ]:
combined_roi = combined_roi.replace([np.inf, -np.inf], np.nan)
combined_roi = combined_roi.dropna(subset=["Sales_ROI (%)", "Rental_ROI (%)"])
combined_roi = combined_roi[(combined_roi["Rental_ROI (%)"] > -1e6) & (combined_roi["Rental_ROI (%)"] < 1e6)]
print(combined_roi[["Sales_ROI (%)", "Rental_ROI (%)"]].describe())

In [ ]:
scaler = MinMaxScaler()
combined_roi[["Sales_ROI_norm", "Rental_ROI_norm"]] = scaler.fit_transform(
    combined_roi[["Sales_ROI (%)", "Rental_ROI (%)"]]
)

In [ ]:
print(combined_roi[["Sales_ROI (%)", "Rental_ROI (%)"]].describe())
print(combined_roi[["Sales_ROI (%)", "Rental_ROI (%)"]].isna().sum())
print(combined_roi[["Sales_ROI (%)", "Rental_ROI (%)"]].isin([np.inf, -np.inf]).sum())

In [ ]:
print(combined_roi.columns)

In [ ]:
combined_roi = combined_roi.replace([np.inf, -np.inf], np.nan)
combined_roi = combined_roi.dropna(subset=["Sales_ROI (%)", "Rental_ROI (%)"])

In [ ]:
print(combined_roi[["Sales_ROI (%)", "Rental_ROI (%)"]].describe())
print(combined_roi[["Sales_ROI (%)", "Rental_ROI (%)"]].isna().sum())
print(combined_roi[["Sales_ROI (%)", "Rental_ROI (%)"]].isin([np.inf, -np.inf]).sum())

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Re-apply MinMaxScaler to ensure normalized columns exist
scaler = MinMaxScaler()
combined_roi[["Sales_ROI_norm", "Rental_ROI_norm"]] = scaler.fit_transform(
    combined_roi[["Sales_ROI (%)", "Rental_ROI (%)"]]
)

# Verify normalized columns
print(combined_roi[["Sales_ROI_norm", "Rental_ROI_norm"]].head())

In [ ]:
# Calculate overall ROI score (weighted equally for sales and rental)
combined_roi["Overall_ROI_Score"] = (
    combined_roi["Sales_ROI_norm"] + combined_roi["Rental_ROI_norm"]
) / 2

# Rank regions based on the overall ROI score
top_overall_regions = combined_roi.sort_values(by="Overall_ROI_Score", ascending=False).head(10)

# Display the top regions
print(top_overall_regions[["RegionName", "Sales_ROI (%)", "Rental_ROI (%)", "Overall_ROI_Score"]])

In [ ]:
import matplotlib.pyplot as plt

# Plot top regions
top_overall_regions.plot(
    x="RegionName", y="Overall_ROI_Score", kind="barh", legend=False, figsize=(10, 6)
)
plt.title("Top 10 Regions by Overall ROI Score")
plt.xlabel("Overall ROI Score")
plt.ylabel("Region Name")
plt.gca().invert_yaxis()  # To display the highest score at the top
plt.show()

# Sales ROI
Question: How much profit can I expect from sales after paying a mortgage?

- Profit Formula:

TODO:

5. Sales ROI
Question: How much profit can I expect from sales after paying a mortgage?

Covered: Fully calculated in the Sales ROI section:
Profit Formula: 
Profit
=
Projected Sale Price
−
Purchase Price
−
Mortgage Payments
Profit=Projected Sale Price−Purchase Price−Mortgage Payments
ROI Formula: 
Sales ROI
=
Profit
Purchase Price
×
100
Sales ROI= 
Purchase Price
Profit
​
 ×100
Top regions with high ROI identified.
6. Rental ROI
Question: How much monthly income can I expect from renting after upgrades, taxes, and mortgage?

Covered: Fully calculated in the Rental ROI section:
Net Annual Rental Income: 
Annual Rental Income
−
Costs (taxes, maintenance, mortgage payments)
Annual Rental Income−Costs (taxes, maintenance, mortgage payments)
ROI Formula: 
Rental ROI
=
Net Annual Rental Income
Purchase Price
×
100
Rental ROI= 
Purchase Price
Net Annual Rental Income
​
 ×100
Top regions with high rental ROI identified.
BONUS: Visualizations
Visualizations: Suggested plots for both Sales ROI and Rental ROI.
Additional Insight: Regions with both high Sales and Rental ROI can be combined into a recommendation chart.
Final Deliverable
You are now ready to:

Prepare a written summary: Highlight key insights from Sales and Rental ROI, with recommendations for investment.
Generate plots: Use the provided code to create visualizations.
Combine findings: Create a concise recommendation for the investor based on the data.